---
import type { Data } from "../content/textEnglish";

interface Props {
  content: Data;
}
const { content } = Astro.props;

const Terms = () => content.footer.other.termsOfUse;
---

<div class="translate-y-1">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="rgb(51 65 85)"
      fill-opacity="1"
      d="M0,224L48,202.7C96,181,192,139,288,149.3C384,160,480,224,576,250.7C672,277,768,267,864,240C960,213,1056,171,1152,170.7C1248,171,1344,213,1392,234.7L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
</div>
<footer class="bg-slate-700">
  <div class="mx-auto max-w-7xl bg-slate-700 p-16 pt-0 text-white">
    <div class="flex w-full flex-wrap justify-center gap-8">
      <!-- Contact Section -->
      <div class="">
        <h5 class="mb-2 text-xl font-bold" page-section="contact">
          {content.footer.contact.title}
        </h5>
        <table class="ml-2">
          <tbody>
            <tr>
              <td>{content.footer.contact.companyName}</td>
            </tr>
            <tr>
              <td>{content.footer.contact.streetName}</td>
            </tr>
            <tr>
              <td
                >{content.footer.contact.zipCode}
                {content.footer.contact.city}</td
              >
            </tr>
            <tr>
              <td>
                <a href={`tel:+46 73-655-1713`} class="whitespace-nowrap">
                  +46 (0) 73 - 655 17 13
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href={`mailto:info@resmash.com`} class="whitespace-nowrap">
                  info@resmash.com
                </a>
              </td>
            </tr>
            <tr>
              <td class="flex gap-2">
                <a href="https://www.instagram.com/resmash_padel/">
                  <img
                    class="h-8"
                    src="./icons/instagram-tw.svg"
                    alt="Instagram"
                  />
                </a>
                <a href="https://www.facebook.com/groups/5901429946653434/">
                  <img
                    class="h-8"
                    src="./icons/facebook-tw.svg"
                    alt="Facebook"
                  />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Opening Hours Section -->
      <div class="">
        <h5 class="mb-2 text-xl font-bold">
          {content.footer.openingHours.title}
        </h5>
        <table class="ml-2">
          <tbody>
            <tr>
              <td>{content.footer.openingHours.monday.day}</td>
              <td class="pl-4"
                >{content.footer.openingHours.monday.openingTimes}</td
              >
            </tr>
            <tr>
              <td>{content.footer.openingHours.tuesday.day}</td>
              <td class="pl-4"
                >{content.footer.openingHours.tuesday.openingTimes}</td
              >
            </tr>
            <tr>
              <td>{content.footer.openingHours.wednesday.day}</td>
              <td class="pl-4"
                >{content.footer.openingHours.wednesday.openingTimes}</td
              >
            </tr>
            <tr>
              <td>{content.footer.openingHours.thursday.day}</td>
              <td class="pl-4"
                >{content.footer.openingHours.thursday.openingTimes}</td
              >
            </tr>
            <tr>
              <td>{content.footer.openingHours.friday.day}</td>
              <td class="pl-4"
                >{content.footer.openingHours.friday.openingTimes}</td
              >
            </tr>
            <tr>
              <td>{content.footer.openingHours.saturday.day}</td>
              <td class="pl-4"
                >{content.footer.openingHours.saturday.openingTimes}</td
              >
            </tr>
            <tr>
              <td>{content.footer.openingHours.sunday.day}</td>
              <td class="pl-4"
                >{content.footer.openingHours.sunday.openingTimes}</td
              >
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Other Section -->
      <div class="">
        <h5 class="mb-2 text-xl font-bold">{content.footer.other.title}</h5>
        <table class="ml-2">
          <tbody>
            <tr>
              <td
                btn-action="terms"
                onclick="my_modal_2.showModal()"
                class="cursor-pointer transition-transform active:scale-95"
              >
                {content.footer.other.termsOfUseBtn}
              </td>
            </tr>
          </tbody>
        </table>
        <dialog id="my_modal_2" class="modal">
          <form
            method="dialog"
            class="modal-box flex max-w-5xl flex-col gap-3 p-12 text-black"
            aria-hidden="true"
          >
            <Terms />
          </form>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>
      </div>
    </div>
  </div>
</footer>
