---
import "@fontsource-variable/chivo";
import Nav from "../components/Nav";
import Footer from "../components/Footer.astro";
import Form from "../components/Form";
import type { Data } from "../content/textEnglish";

interface Props {
  content: Data;
}
const { content } = Astro.props;
---

<!doctype html>
<html lang={content.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{content.title}</title>
  </head>
  <body class="bg-slate-100">
    <Nav client:load content={content} />
    <Form client:idle content={content} />
    <div
      class="fixed top-0 z-30 h-16 w-full bg-gradient-to-b from-black opacity-30"
      style="
      --tw-gradient-to: rgba(255, 255, 255, 0) var(--tw-gradient-to-position);
    "
    >
    </div>
    <slot />
    <Footer content={content} />
  </body>
</html>
